{%extends 'admindash/layouts/base-admin.html'%}






{%block content%}

<div class="container">
    <div class="row">
        <div class="col-4 name">
            <h1>Hello admin-name</h1>
        </div>
    </div>

    <div class="row">
        <div class="col mt-5">
            <p class="text-white">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, iure est, nulla eveniet reiciendis aperiam suscipit expedita ad, illum sit nostrum vel.
            </p>
        </div>
    </div>
</div>
{%endblock%}